<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <span>Cars</span>
      <span style="color: orangered">365</span>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" routerLink="/">Home</a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header>
<br>
<br>
<br>
<br>
<br>

<!-- ======= About Section ======= -->
<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2>Who Are We?</h2>
          <h2>At Cars365 we make selling a car easy, swift, fair and quick experience. As the largest auto-tech company
            in this industrial domain, we offer an extremely efficient and reliable way to car owners to sell their
            vehicle at the fair market price. This is done by getting the real value of the second-hand cars for sale.
          </h2>
          <div class="text-center text-lg-start">
            <a routerLink="/" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Back to Home</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/car.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End About Section -->
