<header id="header" class="header fixed-top" style="background-color: #F2F5FC">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <span>Cars</span>
        <span style="color: #FF4500FF">365</span>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" routerLink="/customer-home">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <section id="contact" class="contact">
  
    <div class="container" data-aos="fade-up">
      <br>
      <br>
      <header class="section-header">
        <p>My Cars on Sale</p>
      </header>
      <div class="col-lg">
        <div class="row gy-4">
          <div class="col-md-4" *ngFor='let car of car'>
            <div class="card">
              <img class="card-img-top" src="assets/car.jpg" alt="Card image cap">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                <h2 class="card-title" style="color: black">{{car.carMake}}</h2>
                  </div>
                  <div class="col-6">
                </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Registration No<br></span> {{car.carRegno}}</h5>
                  </div>
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Car Type<br></span> {{car.carType}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Fuel Type<br></span>  {{car.carFuel}}</h5>
                  </div>
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Car Shift<br></span> {{car.carShift}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Car Owner count<br></span> {{car.carOwnercount}}</h5>
                  </div>
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Car Manufacturing Year</span> {{car.carYear}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Location<br></span> {{car.carLocation}}</h5>
                  </div>
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Contact Number<br></span> {{car.customer.customerPhno}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Car Status<br></span> {{car.carStatus}}</h5>
                  </div>
                  <div class="col-6">
                    <h5 class="card-title" style="color: red"><span style="color: darkblue">Price: </span> {{car.carPrice | currency:'INR'}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  