<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <span>Cars</span>
      <span style="color: #FF4500FF">365</span>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" routerLink="/">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/signup">Signup</a></li>
        <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Login</h1>
        <h3 data-aos="fade-up">Sell and Buy Your Car At The Best Price</h3>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <form #customerLogin="ngForm" novalidate>
          <div class="form-group">
            <label for="customerPhno"><h3 style="color: darkblue">Enter your Phone Number</h3></label>
            <input type="number" class="form-control" name="customerPhno" [(ngModel)]="customer.customerPhno"
                   [ngClass]="{'is-invalid': customerPhno?.errors && (customerPhno?.touched || customerPhno?.dirty),'is-valid': customerPhno?.valid }"
                   placeholder="Enter your Phone number" #customerPhno="ngModel" required
                   pattern='[0-9]{10}$'/>
            <div class="invalid-feedback">
              <strong *ngIf="customerPhno?.errors?.required">Phone Number is Required</strong>
              <strong *ngIf="customerPhno?.errors?.pattern">
                Phone Number must be valid
              </strong>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="customerPassword"><h3 style="color: darkblue">Password</h3></label>
            <input type="password" class="form-control" name="customerPassword" [(ngModel)]="customer.customerPassword"
                   [ngClass]="{'is-invalid': customerPassword?.errors && (customerPassword?.touched || customerPassword?.dirty),'is-valid': customerPassword?.valid }"
                   placeholder="Enter your password" #customerPassword="ngModel" required minlength='5' />
            <div class="invalid-feedback">
              <strong *ngIf="customerPassword?.errors?.required">Password is Required</strong>
              <strong *ngIf="customerPassword?.errors?.minlength">
                Password must be atleast 5 letters long
              </strong>
            </div>
          </div>
          <br>
          <br>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" [disabled]="!customerLogin.valid"
                    (click)="customerlogin(customerLogin.value)"
                    class="btn drop1 text-white btn-lg container-fluid"
                    style="background-color: #4154F1">
              Login
            </button>
          </div><br><br>
          <div *ngIf="errorMessage" class="alert alert-danger text-center d-grid gap-2 col-6 mx-auto">
            <strong>{{errorMessage}}</strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
